@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  $primary: nb-theme(color-primary);
  $search-input-padding-sides: 1.5rem;
  $search-input-padding-tops: 1rem;
  $search-input-mobile-padding-sides: 0.5rem;
  $search-input-mobile-padding-tops: 1rem;
  $search-placeholder-color: #a6aebd;

  margin-top: 8.4rem;
  margin-bottom: 4rem;
  display: block;

  .title {
    position: relative;
  }

  .version {
    background-color: #edfff3;  // TODO: should be var
    position: relative;
    bottom: 0.35rem;
    font-family: 'Raleway Medium', sans-serif;
    font-size: nb-theme(font-size);
    font-weight: nb-theme(font-weight-bold);
    color: #0fba81; // TODO: should be var
    padding: 0.3125rem 0.6875rem 0.3125rem 0.8125rem; // TODO: round
    border-radius: 0.625rem;
    text-transform: none;
  }

  h1 {
    font-family: 'Raleway Bold', sans-serif;
    color: $primary;
    font-size: 5rem;
    padding-left: 5.5rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
  }

  .description {
    color: #8992a3;
    font-family: 'Raleway Medium', sans-serif;
    font-size: nb-theme(font-size-lg);
    line-height: 1.625;
    margin-bottom: 5rem;
  }

  // search
  .search {
    width: 100%;
    position: relative;

    i {
      position: absolute;
      left: $search-input-padding-sides;
      top: 0.8rem;
    }
  }

  .search-input {
    width: 100%;
    border: none;
    font-size: nb-theme(font-size-lg);
    font-family: 'Open Sans SemiBold', sans-serif;
    background-color: #edf0f5; // TODO: should be var
    color: $primary;
    padding: $search-input-padding-tops $search-input-padding-sides;
    padding-left: 4rem;
    line-height: 1.5;
    border-radius: 0.625rem;
  }
  // search

  // icons container
  .icons {
    position: relative;
  }
  // icons container

  eva-icon-list {
    margin-top: 5rem;
  }

  .spinner-container {
    width: 100%;
    height: 25vh;
  }

  .info-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7rem;
    margin-top: 1rem;
    text-align: center;
    font-size: nb-theme(font-size-xlg);
    font-weight: nb-theme(font-weight-bolder);
    background-color: nb-theme(info-bg);
    color: nb-theme(info-fg);
    border-radius: 0.25rem;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include media-breakpoint-down(md) {
    padding-left: 1rem;
    padding-right: 1rem;

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    .search {
      i {
        right: $search-input-mobile-padding-sides;
        top: calc(#{$search-input-mobile-padding-tops} - 0.25rem);

        .eva-search-outline {
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      input {
        padding: $search-input-mobile-padding-tops $search-input-mobile-padding-sides;
      }
    }

    eva-icon-list {
      margin-top: 2rem;
    }

    .info-message {
      padding: 0 1.5rem;
    }
  }
}
