<h1>Eva icons</h1>

<div class="search">
  <i [innerHTML]="'search-outline' | eva: 32: 32: '#3366ff'"></i>
  <input class="search-input"
         #searchInput
         autocomplete="off"
         [attr.placeholder]="'Searchg...'"
         tabindex="-1"/>
</div>

<div class="icons" #iconsBlock>
  <eva-icon-list *ngIf="!noSearchResults"
                 [icons]="icons"
                 [isMobileView]="isMobileMode"
                 (clickIcon)="clickIcon($event)">
  </eva-icon-list>

  <div *ngIf="noSearchResults"
       class="info-message">
    {{ message }}
  </div>
  <div *ngIf="isLoading"
       class="spinner-container"
       [nbSpinner]="isLoading"
       nbSpinnerMessage=""
       nbSpinnerStatus="primary"
       nbSpinnerSize="xxlarge">
  </div>
</div>

