<nb-card *ngFor="let icon of icons; trackBy: trackByFn"
         (click)="clickIconHandler(icon)">
  <nb-card-body *ngIf="isMobileView; else desctop"
                [nbPopover]="icon">
    <i [innerHTML]="icon | eva: 30: 30"></i>
  </nb-card-body>

  <ng-template #desctop>
    <nb-card-body [nbPopover]="icon"
                  [nbPopoverMode]="'hint'">
      <i [innerHTML]="icon | eva: 30: 30"></i>
    </nb-card-body>
  </ng-template>
</nb-card>

<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>

