@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  $body-size: 7rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  nb-card {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 4rem;
    margin-right: calc((100% - 4 * #{$body-size}) / 3);

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  nb-card-body {
    width: $body-size;
    height: $body-size;
    line-height: 4.25rem;
    text-align: center;
    border: 1px solid #edf0f5;
    border-radius: 0.625rem;

    i {
      display: inline-block;
      width: 1.625rem;
      height: 1.625rem;
    }

    &:hover {
      border: none;
      box-shadow: 0 6px 10px 0 rgba(51, 102, 255, 0.16);

      i {
        fill: nb-theme(color-primary);
        width: 2.5rem;
        height: 2.5rem;

        .eva {
        }
      }
    }
  }

  .fake-card {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;

    nb-card-body {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    nb-card {
      width: 15%;
    }

    nb-card-body {
      padding: 39% 0;
    }
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      width: 20%;
    }

    nb-card-body {
      padding: 39% 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-card {
      width: 25%;
    }

    nb-card-body {
      padding: 28% 0;
    }
  }
}
