@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  nb-card {
    width: 12%;
    overflow: hidden;
    cursor: pointer;
    border: none;
    align-items: center;
    border-radius: 0.25rem;

    &:hover {
      background-color: nb-theme(list-icon-item-bg);
    }
  }

  nb-card-body {
    width: 100%;
    font-size: nb-theme(font-size-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: nb-theme(list-icon-item-fg);
    padding: 3.125rem 1.25rem;

    i {
      font-size: 1.5rem;
      font-weight: nb-theme(font-weight-bold);
    }
  }

  .fake-card {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;

    nb-card-body {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    nb-card {
      width: 15%;
    }

    nb-card-body {
      padding: 39% 0;
    }
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      width: 20%;
    }

    nb-card-body {
      padding: 39% 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-card {
      width: 25%;
    }

    nb-card-body {
      padding: 28% 0;
    }
  }
}
