@import '@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  $content-width: nb-theme(content-width);
  $popover-border-width: calc(#{nb-theme(popover-arrow-size)} - 2px);

  .content-center {
    max-width: $content-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-us {
    padding: 5rem 1rem;

    h2 {
      color: black;
    }
  }

  /deep/ nb-popover {
    font-family: nb-theme(font-main), sans-serif;

    .arrow {
      &::after {
        border-left-width: $popover-border-width;
        border-right-width: $popover-border-width;
        border-bottom-width: $popover-border-width;
      }
    }
  }

  /deep/ nb-layout .main-container {
    padding-top: 3rem;

    .scrollable {
      padding-top: 0;
    }
  }

  /deep/ nb-layout .layout-container {
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;
  }

  /deep/ nb-layout-footer {
    margin-top: 6rem;
  }

  // modals
  /deep/ .download-icon {
    background-color: nb-theme(color-white);
    opacity: 0.9;
  }
  // modals

  @include media-breakpoint-down(xl) {
    nb-layout-header /deep/ nav {
      height: 9rem;
      display: block;
    }
  }
}
