<div class="section left">
  <iframe class="stars"
          src="https://ghbtns.com/github-btn.html?user=akveo&repo=nebular&type=star&count=true"
          frameborder="0"
          scrolling="0">
  </iframe>
</div>
<div class="section right">

  <div class="btn btn-primary btn-download btn-header">
    <i [innerHTML]="'download' | eva: 24: 24: '#ffffff'"></i>
    <span>Download pack</span>
    <div class="download-items-container">
      <ul>
        <li>
          <a href="{{ zipUrl }}"
             download>
            <i [innerHTML]="'cube-outline' | eva: 24: 24: '#ffffff'"></i>
            <span>Download all pack</span>
          </a>
        </li>
        <li>
          <a href="{{ zipUrl }}"
             download>
            <i [innerHTML]="'download' | eva: 24: 24: '#ffffff'"></i>
            <span>NPM</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
