@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  $right-section-width: nb-theme(settings-col-width);
  $logo-fg: nb-theme(header-fg);
  $version-fg: nb-theme(color-primary);
  $primary: nb-theme(color-primary);

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;
  margin: 0 1.625rem;
  justify-content: space-between;

  .section {
    display: flex;
  }

  .stars {
    width: 95px;
    height: 20px;
  }

  .btn-header {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    color: nb-theme(color-white);
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: nb-theme(font-weight-ultra-bold);
    padding: 0.4rem 0.825rem;
    border-radius: 0.625rem;
    cursor: pointer;

    span {
      margin-left: 1rem;
    }
  }

  .btn-download {
    position: relative;
    height: 3.5rem;
    width: 13.625rem;
    box-shadow: 0 6px 10px 0 rgba(51, 102, 255, 0.16);

    .download-items-container {
      display: none;
    }

    &:hover {
      background-color: $primary;

      .download-items-container {
        display: block;
        padding-top: 0.625rem;
        position: absolute;
        top: 100%;
        left: 0;
      }

      ul {
        margin: 0;
        padding: 0.625rem 0;
        background-color: $primary;
        box-shadow: 0 6px 10px 0 rgba(51, 102, 255, 0.16);
        border-radius: 0.625rem;

        li {
          list-style: none;


          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            text-transform: none;
            padding: 1rem 0.875rem;
            font-family: 'Open Sans SemiBold', sans-serif;
            color: nb-theme(color-white);

            &:hover {
              background-color: #598bff;
            }

            &.active, &:active {
              background-color: #284de0;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .logo {
      align-items: baseline;
      flex: 1 0 auto;
    }
  }

  @include media-breakpoint-down(xl) {
    margin: 0 1rem;
  }

  @include media-breakpoint-down(lg) {
    display: block;
    margin: 0;

    eva-header-nav {
      flex: 1;
    }

    .logo {
      font-size: 1rem;
    }

    .section {
      padding: 1.25rem 1rem;

      &.right {
        border-top: 1px solid nb-theme(header-section-border-color);
        border-bottom: 1px solid nb-theme(header-section-border-color);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .btn-header {
      margin-left: 0;
    }

    .btn-download {
      display: none;
    }
  }
}
